@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Bilbo|Amatic+SC);

body{
	background: url(../img/laptop.jpg) no-repeat top center;
	background-size: cover;
}

.slogan{
	margin-left: 10%;
	margin-top: 5%;
}

.slogan h1{
	color: #fcfcfc;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	line-height: 80px;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	border-style: none;
	letter-spacing: -2px;
	display: flex;
	flex-direction: column;
	text-shadow: -1px 0 1px #000;
}

.slogan h2 {
	font-family: 'Cutive Mono', cursive;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: -1.5px;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	text-shadow: -0.5px 0 1px #000;
}

h1, h2, h3, h4, h5, h6 {
	color: #fcfcfc;
}


h5 p{
	text-align: justify;
	text-shadow: -0.5px 0 1px #000;
	font-size: 15px;
}

label{
	color: #fcfcfc;
}

legend{
	color: #fcfcfc;
}

.about{
	font-size: 16px;
	color: #fcfcfc;
	text-align: justify;
	text-shadow: -0.5px 0 1px #000;
}

.contactme{
	font-size: 16px;
	color: #fcfcfc;
	margin-bottom: 30px;
}

.timelime{
	background: url(../img/timeline.png) no-repeat top center;
	width: 20px;
	height: 100%;
}

.timelinebox{
	color: #fcfcfc;
}

.boxtitle{
	margin-top: 20px;
	margin-bottom: 50px;
}

.text{
	font-size: 14px;
	text-align: justify;
	text-shadow: -0.6px 0 1px #000;
}

.timelinebox span{
	font-size: 15px;
	color: rgb(185, 185, 185);
}