@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Bilbo|Dorsa|Waiting+for+the+Sunrise|Zeyada);

*{
	margin: 0;
	padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.start {
	width:100%;
	position:relative;
	background: url(../img/laptop.jpg) no-repeat top center;
    background-size: cover;
    height: auto;
}

#start.start {
	padding:1% 0 20% 0;
}

.start .slogan {
	margin-left: 5%;
	margin-top: 10%;
}

.start .slogan h1 {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	line-height: 80px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	border-style: none;
	letter-spacing: -2px;
}

.start .slogan h2 {
	color: #FFF;
	font-family: 'Cutive Mono', cursive;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -1.5px;
}