body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

html {
    width: 100%;
    height: 100%;
}

.start {
	width:100%;
	position:relative;
	background: url(../img/laptop.jpg) no-repeat top center;
    background-size: cover;
    height: auto;
}

#start.start {
	padding:1% 0 10% 0;
}

.start .slogan {
	margin-left: 5%;
	margin-top: 10%;
}

.start .slogan h1 {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	line-height: 30px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	border-style: none;
	letter-spacing: -2px;
}