@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Bilbo|Dorsa|Waiting+for+the+Sunrise|Zeyada);

*{
	margin: 0;
	padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.start {
	width:100%;
	position:relative;
	background: url(../img/laptop.jpg) no-repeat top center;
    background-size: cover;
    height: auto;
}

#start.start {
	height: 100vh;
    display: flex;
    justify-content: space-around;
}

.start .slogan {
	/*margin-left: 15%;
	margin-top: 15%;*/
	margin: auto;
	display: block;
}

.start .slogan h1 {
	color: #fcfcfc;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	line-height: 80px;
	/*font-weight: 700;*/
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	border-style: none;
	letter-spacing: -2px;
	display: flex;
	flex-direction: column;
}

.start .slogan h2 {
	color: #fcfcfc;
	font-family: 'Cutive Mono', cursive;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: -1.5px;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
}

.start .logo { 
	/*background: url(../img/logo.png) no-repeat top center;*/
	width: 259px;
	height: 335px;
	margin: auto;
}


@media screen and (max-width:878px){
	#start.start {
		flex-direction: column;
	}

	.start .slogan h1 {
	    font-size: 76px;
	    line-height: 98px;
	}

	.start .slogan h2 {
		font-size: 27px;
	}

	.start .logo { 
		height: 257px;
		width: 199px;
	}

	.logo img{
		height: 257px;
		width: 199px;
	}
}

@media screen and (max-width:730px){
	.start .slogan h1 {
	    font-size: 76px;
	    line-height: 98px;
	}

	.start .slogan h2 {
		font-size: 27px;
	}
}

@media screen and (max-width:615px){
	.start .slogan h1 {
		font-size: 67px;
		line-height: 87px;
	}

	.start .slogan h2 {
		font-size: 24px;
	}
}

@media screen and (max-width:500px){
	.start .slogan h1 {
		font-size: 54px;
		line-height: 72px;
	}

	.start .slogan h2 {
		font-size: 20px;
	}

	.start .logo { 
		height: 179px;
		width: 139px;
	}

	.logo img{
		height: 179px;
		width: 139px;
	}
}

@media screen and (max-width:412px){

	.start .slogan h1 {
		font-size: 46px;
		line-height: 61px;
	}

	.start .slogan h2 {
		font-size: 17px;
	}
}