@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Bilbo|Dorsa|Waiting+for+the+Sunrise|Zeyada);

*{
	margin: 0;
	padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.start {
	width:100%;
	position:relative;
	background: url(../img/laptop.jpg) no-repeat top center;
    background-size: cover;
    height: auto;
}

#start.start {
	height: 100vh;
    display: flex;
    justify-content: space-around;
}

.start .slogan {
	margin-left: 5%;
	margin-top: 10%;
	margin: auto;
	display: block;
}

.start .slogan h1 {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	line-height: 80px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	border-style: none;
	letter-spacing: -2px;
	display: flex;
	flex-direction: column;
}

.start .slogan h2 {
	color: #FFF;
	font-family: 'Cutive Mono', cursive;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: -1.5px;
	width: 400px;
	margin-top: 70px;
}

.start .logo-maneiro { 

width: 200px;
height: 200px;
margin: auto;
} 